This is the solution to the DSA Array_exercise from the codebasic yt channel.

1. Let us say your expense for every month are listed below,
	1. January -  2200
 	2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [14]:
# creating the list to store expense.
expense = [2200, 2350, 2600, 2130, 2190]

In [15]:
#1 In Feb, how many dollars you spent extra compare to January?
diff = expense[1] - expense[0]
print(diff)

150

In [16]:
# 2. Find out your total expense in first quarter (first three months) of the year.
total = 0
for exp in expense[:3]:
    total += exp
print(total)

7150

In [17]:
# 3. Find out if you spent exactly 2000 dollars in any month
for exp in expense:
    if exp == 2000:
        print("yes")
print("no")

no

In [18]:
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expense.insert(5, 1980)
print(expense)

[2200, 2350, 2600, 2130, 2190, 1980]

In [20]:
# 5. You returned an item that you bought in a month of April andgot a refund of 200$. Make a correction to your monthly expense list based on this
expense[3] = expense[3] - 200
print(expense[3])

2130

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [57]:
heros=['spider man','thor','hulk','iron man','captain america']

In [58]:
# 1. Length of the list
len(heros)

5

In [59]:
# 2. Add 'black panther' at the end of this list
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [60]:
# 3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
heros.pop()
heros.insert(3, 'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [61]:
#  4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
heros[1:3] = ['doctor strange']

In [62]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

3. Create a list of all odd numbers between 1 and a max number.
Max number is something you need to take from a user using input() function

In [73]:
maxn = int(input("Enter the maximum number you want!:  "))
odd_num = []
for i in range(1, maxn, 2):
    odd_num.append(i)
print(odd_num)

Enter the maximum number you want!:   9

[1, 3, 5, 7]